html {
    background-color: #F2F2F2;
}

#nav-article-1, #nav-article-3, h3 {
    background-color: #8F4D74;
}

#nav-article-2, .accueil #nav-a-propos, .accueil #nav-autres-projets {
    background: #EDCCDA;
}

.nav-autres-pages .bouton {
    border-radius: 11px;
    background-color: #F2F2F2;
    border: 0.5px solid #000;
}

.carrousel-item>img {
    border: 3px solid #EBDE8B;
}

.carrousel-item>a {
    background-color: #EBDE8B;
}

.article-1.partie-2, .article-2.partie-2, .article-3.partie-2, .article-3.partie-4, .a-propos, .autres-projets  {
    background: #EDDAE2;
}

.bouton {
    border-radius: 11px;
    background: #693C80;
}

#fleche-bas {
    opacity: 0.85;
}

#nav-article-1 figure:first-of-type>img {
    border: 5px solid #F2F2F2;
}

.article-2.partie-2 figure:first-of-type>img {
    border: 3px solid #F2F2F2;
}

.a-propos>main>h2:first-of-type, .autres-projets h2 {
    border-radius: 11px;
    background: #f2f2f2;
    border: 1px solid #fff;
}

.contact {
    border-radius: 10px;
    background: #f2f2f2;
    border: 1px solid #fff;
}

.contact>form input, .contact>form textarea {
    border-radius: 11px;
    background: #fff;
    border: none;
}

.autres-projets .projets a {
    border-radius: 11px;
    background: #f2f2f2;
    border: 1px solid #fff;
}

body>header {
    width: 375px;
    height: 65px;
    background: rgba(242, 242, 242, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.85);
}

footer {
    width: 375px;
    height: 111px;
    background: rgba(242, 242, 242, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.85);
}

.reseaux-sociaux li:nth-child(1)>a {
    display: block;
    width: 25px;
    height: 25px;
    background: url('../../img/instagram.png');
    background-size: 25px 25px;
    text-indent: -9999px;
}

.reseaux-sociaux li:nth-child(2)>a {
    display: block;
    width: 25px;
    height: 25px;
    background: url('../../img/facebook.png');
    background-size: 25px 25px;
    text-indent: -9999px;
}

.reseaux-sociaux li:nth-child(3)>a {
    display: block;
    width: 25px;
    height: 25px;
    background: url('../../img/linkedin.png');
    background-size: 25px 25px;
    text-indent: -9999px;
}