p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
}

figure {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

img, figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*REVOIR LES SELECTEURS*/
article.article-1 figure>img, .article-2.partie-1 figure:first-of-type>img, .article-3 figure>img, .accueil figure>img {
    width: 100%;
    height: auto;
}

.article-1.partie-3 figure>img {
    width: 90%;
}


.article-2.partie-1 figure:last-of-type>img, .article-2.partie-2 figure:last-of-type>img {
    width: 87%;
}

.article-2.partie-2 figure:first-of-type>img {
    width: 40%;
}


.article-3.partie-1 figure>img {
    width: 44%;
}

.article-3.partie-5 figure>img {
    width: 51%;
}


#nav-article-3 figure>img {
    width: 95%;
}

#fleche-bas {
    width: 10%;
}


.bouton {
    display: block;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}


body>header {
    position: fixed;
    top: 0;
}


.accueil>main>h1 {
    line-height: 32px;
    margin-top: 9.5rem;
}

.accueil .tagline, .accueil .nav-autres-pages {
    margin-top: 2rem;
}

.accueil>main p:nth-of-type(2), .accueil>main>figure:first-of-type>img {
    margin-top: 4rem;
}

.accueil>main>figure:first-of-type>img {
    margin-bottom: 0.5rem;
}

.accueil>main p:nth-of-type(4) {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

/*.accueil>main>*:nth-child(-n+6) {*/
/*    position: fixed;*/
/*    z-index: 0;*/
/*}*/

#nav-article-1>h2, #nav-article-2>h2, #nav-article-3>h2 {
    margin: 0;
}

.nav-autres-pages img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#nav-article-1, #nav-article-2, #nav-article-3, #nav-autres-projets, #nav-a-propos {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#tweet\ article-1, #tweet\ article-2, #tweet\ article-3 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#nav-autres-projets, #nav-a-propos {
    display: table-cell;
    width: 50vw;
}


footer>address>p, .mentions-legales {
    margin: 0;
}

footer>address, .mentions-legales {
    margin-left: 1.5rem;
}

footer>address>p {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.mentions-legales {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.reseaux-sociaux {
    margin-top: 1rem;
    margin-right: 1.5rem;
}


.article-1>header, .article-2>header {
    margin-top: 9.5rem;
    margin-left: auto;
    margin-right: auto;
}

.article-1>header {
    width: 95%;
}

.article-2>header {
    width: 60%;
}

.article-1 .chapeau, .article-2 .chapeau {
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    margin-top: 3.5rem;
}

.article-2 .chapeau:nth-of-type(2) {
    margin-top: 2rem;
}

.article-1>figure>img, .article-2>figure>img {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.article-1 h3, .article-2 h3 {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    width: 100%;
    height: 4%;
}

.article-1.partie-1>p:first-of-type {
    margin-bottom: 0;
}

.article-1 video {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.article-1.partie-1>p:nth-of-type(2) {
    margin: 0;
    text-align: center;
}

.carrousel>h4 {
    margin-top: 3rem;
    margin-bottom: 0;
}

.article-1.partie-1>.carrousel+p, .article-1.partie-1>p:nth-last-of-type(2), .article-1.partie-2>p:last-of-type,
.article-1.partie-3>p:last-of-type, .article-scientifique>p:first-child, .article-2.partie-1 > p:nth-last-of-type(2),
.article-2.partie-2>figure+p {
    margin-top: 3rem;
}

.article-1.partie-1>figure>figcaption {
    width: 70%;
}

.article-2.partie-1>figure:last-of-type>figcaption {
    width: 61%;
}

.article-1.partie-2, .article-2.partie-2 {
    padding-bottom: 2rem;
}

.article-1.partie-2>p:last-of-type, .article-2.partie-2>p:last-of-type {
    margin-bottom: 1rem;
}

.article-1.partie-3>h3, .article-2.partie-3>h3 {
    margin-top: 0;
}

.article-1.partie-3 .bouton, .article-2.partie-3 .bouton {
    margin-top: 2rem;
    margin-bottom: 3rem;
}


.citation {
    display: block;
    width: 86%;
    margin: 4rem auto;
}

.citation:after, .citation::before {
    display: none;
}

.article-2.partie-2>h3 {
    height: 7%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.article-2.partie-2 ul {
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0;

}


.reseaux-sociaux {
    display: inline-flex;
    padding: 0;
    width: 95px;
    height: 25px;
    float: right;
}

.reseaux-sociaux li:nth-child(-n+2)>a {
    margin-right: 1rem;
}

address {
    display: inline-block;
}