@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow Condensed Bold";
    src: url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow Condensed Italic";
    src: url("../fonts/BarlowCondensed-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow Condensed Medium";
    src: url("../fonts/BarlowCondensed-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Italic";
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold Italic";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Light Italic";
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Medium Italic";
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.9rem;
    color: black;
}


/*Typographies et couleurs des titres*/

h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: normal;
}

header>h1 {
    font-size: 2rem;
}

.accueil>main>h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-family: "Barlow Condensed Bold", sans-serif;
    font-size: 2.8rem;
    line-height: 3.4rem;
    text-align: center;
    color: #6C3A57;
}

h2 span {
    font-size: 3.4rem;
    line-height: 4.1rem;
}

.nav-autres-pages h2 {
    font-family: "Barlow Condensed Medium", sans-serif;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: black;
}

h3, #nav-article-1>h2, #nav-article-3>h2 {
    color: white;
}

h3, h4 {
    font-family: "Barlow Condensed", sans-serif;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
    text-align: center;
}

/*Typographies et couleurs des éléments de l'accueil*/
a {
    text-decoration: none;
    color: black;
}

.tagline {
    font-family: "Bebas Neue", cursive;
    font-size: 3.2rem;
    font-weight: normal;
    text-align: center;
}

strong {
    font-weight: normal;
}

span.bold {
    font-family: "Roboto Bold", sans-serif;
}

cite {
    font-family: "Roboto Light Italic", sans-serif;
    font-style: normal;
}

cite.bold {
    font-family: "Roboto Bold Italic", sans-serif;
}

figcaption {
    font-family: "Roboto Light", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.accueil>main {
    font-size: 1.6rem;
}

.nav-autres-pages {
    font-size: 1.4rem;
}

#nav-article-1, #nav-article-3 {
    color: white;
}

#tweet\ article-1, #tweet\ article-2, #tweet\ article-3 {
    font-family: "Roboto Light", sans-serif;
}

.bouton {
    font-family: "Bebas Neue", cursive;
    font-size: 1.6rem;
    text-decoration: none;
}

footer {
    font-size: 1.2rem;
}

address {
    font-style: normal;
    text-decoration: none;
    color: black;
}

footer a, main p a, a[href="https://lejournal.cnrs.fr/billets/le-big-data-est-il-polluant"]>cite {
    font-family: "Roboto Bold Italic", sans-serif;
    font-style: normal;
    text-decoration: underline;
    color: #693c80;
}

.reseaux-sociaux {
    list-style-type: none;
}


.chapeau, .chapeau cite {
    font-family: "Roboto Medium Italic", sans-serif;
    font-size: 1.6rem;
}

.carrousel-items {
    font-family: "Roboto Medium Italic", sans-serif;
    list-style-type: none;
    text-align: center;
}

/*Remplacer par p>a ?*/
p>cite {
    font-family: "Roboto Italic", sans-serif;
}

.accueil .bouton {
    color: black;
}

.nosedive-et-la-surconsommation-des-reseaux-sociaux .bouton, .lacie-une-pollueuse-inconsciente .bouton,
.des-solutions-envisageables .bouton, .a-propos .bouton, .autres-projets .bouton {
    color: white;
}

.citation {
    font-family: "Barlow Condensed Italic", sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

.article-2 ul {
    list-style-type: none;
}

.article-2 ul>li::before {
    content: "- ";
}